<br>
    <br>
    <h2 class="Q">Q</h2>
    <p class="P">Please confirm or edit your contact information, so that we can <br/>notify you when you are approved for our BETA.</p>
    <br>
    <hr>

<form novalidate [formGroup]="form" (ngSubmit)="addUser(form)" class="center">
    <div>
        <label for="name" class="label">Name </label><br>
        <input type="text" class="inbuit"
        name="name" value="John Doe" readonly>
    </div>
    
        <div>
                <label for="email" class="label">Email </label><br>
                <input type="text" class="inbuit"
                name="email" value="john@requantive.com" readonly>
            </div>  

            <div>
                    <label for="contact" class="label">Phone Number </label><br>
                    <input type="text" placeholder="Type a phone number" class="phone"
                    formControlName="contact" required>
                </div>
                
                    <div *ngIf="form.get('contact').touched && form.get('contact').invalid" class="error">
                        <div *ngIf="form.get('contact').hasError('required')">
                            Phone Number is Required!
                        </div>
                        
                        </div>
                    
                

                <br>
                
                <hr>
            <button type="submit" name="button" class="button" [disabled]="form.invalid">SIGN UP</button>
</form>