
    <br>
    <br>
    <h2 class="Q">Q</h2>
    <p class="P">Please confirm or edit your contact information, so that we can <br/>notify you when you are approved for our BETA.</p>
    <br>
    <hr>
    <form>
        <div>
    <div class="center">
    <label for="name" class="label"><b>NAME</b><br></label>
    <input type="text" name="name" value="John Doe" readonly><br>

    <label for="email" class="label"><b>EMAIL ADDRESS</b></label><br>
    <input type="text" name="email" value="john@requantive.com" readonly><br>

    <label for="number" class="label"><b>PHONE NUMBER</b></label><br>
    <input type="text" placeholder="Type a phone number" name="number" required>
    
    <br>

    <br>
    
    <hr>

    <button type="submit" class="button" (click)="goToexit()">SIGN UP</button>
  </div>
</div>
  
</form>